body{
	font-family: Rockwell;
    background-color: lightblue;
}
#bannerimg{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100px;
}
#SysName{
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
	height: 20%;
	color: white;
}
#Reg{
	margin-bottom: 20px;
	margin-left: 10px;
    padding: 12px 20px;
    margin: 8px 15px;
    box-sizing: border-box;
}
#Regform{
	position: fixed;
	border-left: ridge;
	margin: 8px 40px;
	padding-left: 10px;
	margin-top: 100px;
}
#Registration_Page{
	position: fixed;
	border-bottom: ridge;
	margin-left: 50px;
	margin-top: 30px;
}
#title{
	margin-top: -50px;
	
/*	
	position: fixed;
	margin-left: 50px;
	border-bottom: ridge;
*/	
}
#AskTitle{
	position: fixed;
	margin-top: -50px;
	border-bottom: ridge;
}
#login{
	margin-bottom: 20px;
	padding: 10px 20px;
}
#inReg{
	margin-bottom: 20px;
	margin-left: 10px;
    padding: 12px 20px;
    margin: 8px 15px;
    box-sizing: border-box;
}
.bannerArea{
	position: fixed;
	margin: 0 auto;
	top: 89px;
	width: 100%;
}
#askQuestionForm{
	position: fixed;
	border-bottom-style: ridge;
	position: fixed;
	left: 40%;
	right: 40%;
	top: 400px;
	margin-left: -100px;
	margin-top: -100px;
	margin-bottom: 20px;
	padding: 10px 20px;
}
.form_ANI{
	width: 400px; 
	border: 2px solid red;
    border-radius: 4px;
}

.labelANI{
	float: left; 
	width: 150px;
}
.inputANI{
	float: left; 
	width: 350px;
}
.clearANI{ 
	clear: both; 
	height: 0; 
	line-height: 0; 
}
input[type=submit], button[type=submit]{
	
	background-color: rgb(0,120,255);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 0px;
	cursor: pointer;
	font-family: Rockwell;
}

input[type=submit]:hover, button[type=submit]:hover{
    background-color: rgb(50,150,255);
}


.questionAnswerArea{
	
	margin: 0 auto;
	padding-left: 10px;
	width: 100%;
	/*margin: 8px 40px;
	margin-top: 125px;
	border-left: ridge;*/
}
.question{
	margin-bottom: 20px;
	padding: 10px 20px;
}
#FAQ{
	position: fixed;
	border-bottom: ridge;
	margin-left: 60px;
	margin-top: 30px;
}
#FAQResponseSelect{
	margin-bottom: 20px;
	padding: 10px 20px;
}
.QAForm{
	
	margin-bottom: 20px;
	padding-top: 10px ;
}
#manualResponse{
	position: fixed;
	margin-left: 60px;
	margin-top: 200px;
}
#catagory{
	margin-bottom: 20px;
}
#FAQResponse{
	position: fixed;
	margin-left: 60px;
	margin-top: 225px;
}
#FAQResponseSelect{
	margin-top: 20px;
}
.displayText{
	position: fixed;
	margin-bottom: 20px;
	padding: 10px 20px;
	margin-left: 75px;
	margin-top: 75px;
}
#Resp{
	position: fixed;
	border-bottom: ridge;
	margin-left: 60px;
}
#responseType{
	position: fixed;
	border-bottom: ridge;
	margin-left: 60px;
	margin-top: 175px;
}
#Duplicate{
	color: red;
	background-color: gray;
}
#Blank{
	color: red;
	background-color: gray;
}

#Unique{
	color: blue;
	background-color: gray;
}

.bodyArea{
	position: relative;
	top: 200px;
	text-align: center;
}
.classLink{
	width: 100%;
	height: 100%;
	background-color: lightblue;
}
.notBanner{
	padding: 10px;
	text-align: left;
}

table.center{
	margin: 0 auto;
}

#bannerTable{
	margin: 0 auto;
}
.messageArea{
	width: 100%;
	height: 100%;
}
.console{
	visibility: hidden;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.consoleTable{
	background-color: white;
}
