body{
	font-family: Rockwell;
	background-color: lightblue;
}
#SysName{
	border-style: solid;
	border-color: rgb(0,120,255);
	background-color: rgb(0,120,255);
	color: white;
	font-family: Rockwell;
}
#classname{
	background-color:black	
	color:white

}
.bannerArea{
	position: absolute;
	right: 5%;
}