<html>
<head>
<title>Edit Class</title>
<link type="text/css" rel="stylesheet" href="../css/BeAll.css">

<style>

caption {
	font-size: 125%;
	background-color: lightblue;
	border: 3px solid black;
}

</style>
</head>

<body>
	<div class="bodyArea">
		<h1 class="pagehead"><strong>Edit Class Members</strong></h1>
		{% if nextAction == 'show classlist' %}
			<form action='/editreviewstudents' method="POST">
				<p><strong>Choose Class To Review</strong></p>
					
				<table class="center">
					<tr class="pastqa_cell"><td><input type="radio" name="selection" value="all">All Users</input></td></tr>
				{% for class in classes %}
					<tr class="pastqa_cell"><td><input type = "radio" name='selection' value='{{class.classname}}'>{{class.classname}}</input></td></tr>
				{% endfor %}
				</table>
				<input type='submit' value='SUBMIT'/>
			</form>
		{% endif %}

		{% if nextAction == 'show students in class' %}
			<form action='/displaystudents' method='POST'>
				<p><strong>Class: {{class.classname}}</strong></p>
				<br>
				<table class="center">
				<caption><strong>Choose Class Member to Edit</strong></caption>
				<tr>
					<th>Selection</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Account Type</th>
					{% for user in users %}
					{% if user.accounttype == 'student' or user.accounttype == 'instructor' %}
				</tr>
				<tr>
					<td><input type='radio' name='userSelection' value='{{user.username}}'/></td>
					<td>{{user.lastname}}</td>
					<td>{{user.firstname}}</td> 
					<td>{{user.accounttype}}</td>
				</tr>
					{% endif %}
					{% endfor %}
				</table>
				<input type='submit' value='SUBMIT'/>
			</form>
		{% endif %}

		{% if nextAction == 'show student data' %}
		<form action='/savedata' method='POST'>
		<input type="hidden" name="user_key" value="{{ userChosen.key.urlsafe() }}"/>
		<table class="center">
		  <caption>Personal Data for user: <strong>{{userChosen.email}}</strong></caption>
		  <tr>
			<th>Account Type</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email Address</th>
			<th>Password</th>
		  </tr>
		  <tr>
			<td>{{ userChosen.accounttype }}</td>
			<td><input type="text" name="firstName" value='{{userChosen.firstname}}' autofocus></td>
			<td><input type="text" name="lastName" value='{{userChosen.lastname}}'></td>
			<td>{{ userChosen.email }}</td>
			<td><input type="text" name="passWord" value='{{userChosen.password}}'></td>
		  </tr>
		</table>
			<input type='submit' value="SUBMIT CHANGES">
		</form>
		{% endif %}
	</div>
	{{banner}}
</body>
</html>
