<html>
<head>
	<title>FAQ</title>
	<link type="text/css" rel="stylesheet" href="/css/BeAll.css" >
</head>
<body>
	<div class="bodyArea">
		<h2 class="pagehead">FAQ for {{classname}}</h2>
		{% if class|sort(attribute = 'category')|length == 0 %}
			<h3 class="pagehead">No FAQ entries found.</h3>
		{% else %}
			<table id="faq_table" class="center">
				<tr class="faq_cell">
					<th class="faq_cell">Category</th>
					<th class="faq_cell">Question</th>
					<th class="faq_cell">Answer</th>
				</tr>
				{% for c in class|sort(attribute = 'category')%}
					<tr style={%if loop.index0%2 == 0 %}"background-color: rgb(0,120,255);" {% else %} "background-color: lightblue;" {% endif %} class="faq_cell">
						<td class="faq_cell"><div class="center">{{c.category.get().name}}</div></td>
						<td class="faq_cell"><div class="center">{{c.message}}</div></td>
						<td class="faq_cell"><div class="center">{{c.response}}</div></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
	{{banner}}
</body>
</html>