<html>
<head>
	<title>Respond</title>
	<link rel="stylesheet" type="text/css" href="/css/BeAll.css">
</head>
<body>
	<div class="bodyArea">
		<h2 id="Resp">Respond to {{question.key.parent().get().username}}'s question</h2>
		<div class="displayText" id="display_user_question">
			Question: <br>
			
			<p>
				{{question.message}}
			</p>
		</div>
		<form class="QAForm" id="manual_response" action="/respond" method="post">
			<table>
				<tr>
					<td><label for="cate_check_box" form="manual_response">Add Question to FAQ page</label><input id = "cate_check_box" type = "checkbox" name = "add_to_category" value = "1" /></td>
					<td>
						<select id="catagory" form="manual_response" name="cname">
							<option value="newCategory"> -- New Catagory -- </option>
							{%if categories%}
								{%for c in categories%}
									<option value="{{c.name}}">{{c.name}}</option>
								{%endfor%}
							{%endif%}
						</select>
					</td>
					<td>
						<input type="text" name="new_cname" form = "manual_response"/>
					</td>
				</tr>
				<tr>
					<td>
						<textarea style="resize:none" name="response" form="manual_response" rows="4" cols="50"></textarea><br>
						<input type="submit" value="Submit Response"/>
					</td>
				</tr>
		</form>
		</table>
			
		
	</div>
	{{banner}}
</body>
</html>
