<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/BeAll.css">
</head>
<body>
	
	<div class="bodyArea">
		<h2 id="FAQ">Review Open Questions</h2>
		<table class="questionAnswerArea">
			<tr class="question">
				{%if instructor%}
					<th>Username</th>
				{%endif%}
				<th>Question</th><th>Response</th></tr>
			
			{%for q in questions%}
				<tr class="question">
					{%if instructor%}
						<td>{{q.key.parent().get().username}}</td>
					{%endif%}
					<td>{{q.message}}</td><td>{{q.response}}</td>
					
						
							<td><form action='/respond' method = 'get'>
								<input type = 'hidden' name = 'questionkey' value='{{q.key.urlsafe()}}'/>
								<input type ='submit' value = 'Respond'/>
							</form></td>
				
				
				</tr>
			{%endfor%}
		</table>

	</div>
	{{banner}}
</body>
</html>
